#Module 6 Demonstration

##Demonstration 1 - Introduction to Pandas and Creating Data Structures

##Importing Libraries

In [12]:
# 1. Importing Libraries
import pandas as pd
import numpy as np

##Creating a Series

- <h3> From ndarray

In [13]:
arr = np.array([10, 20, 30, 40])
series_from_ndarray = pd.Series(arr)
print("Series from ndarray:\n", series_from_ndarray, "\n")

Series from ndarray:
 0    10
1    20
2    30
3    40
dtype: int64

- <h3> From Dictionary

In [14]:
dict_data = {'a': 100, 'b': 200, 'c': 300}
series_from_dict = pd.Series(dict_data)
print("Series from dictionary:\n", series_from_dict, "\n")

Series from dictionary:
 a    100
b    200
c    300
dtype: int64

- <h3> From Scalar Value

In [15]:
series_from_scalar = pd.Series(5, index=['x', 'y', 'z'])
print("Series from scalar:\n", series_from_scalar, "\n")

Series from scalar:
 x    5
y    5
z    5
dtype: int64

##Creating a DataFrame

- <h3> From a List

In [16]:
list_data = [['Alice', 25], ['Bob', 30], ['Charlie', 35]]
df_from_list = pd.DataFrame(list_data, columns=['Name', 'Age'])
print("DataFrame from list:\n", df_from_list, "\n")

DataFrame from list:
       Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

- <h3> From a List of Dictionaries

In [17]:
list_of_dicts = [{'Name': 'Alice', 'Age': 25}, {'Name': 'Bob', 'Age': 30}]
df_from_list_of_dicts = pd.DataFrame(list_of_dicts)
print("DataFrame from list of dictionaries:\n", df_from_list_of_dicts, "\n")

DataFrame from list of dictionaries:
     Name  Age
0  Alice   25
1    Bob   30

- <h3> From a Dictionary of Series

In [18]:
dict_of_series = {
    'Name': pd.Series(['Alice', 'Bob', 'Charlie']),
    'Age': pd.Series([25, 30, 35])
}
df_from_dict_of_series = pd.DataFrame(dict_of_series)
print("DataFrame from dictionary of series:\n", df_from_dict_of_series, "\n")

DataFrame from dictionary of series:
       Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35