#Module 6 Demonstration

##Demonstration 2 - Reading, Writing, and Basic Operations on DataFrames

##Imporing Libraries

In [10]:
import pandas as pd

##Reading Data

- <h3> Reading data from a CSV file

In [11]:
df_csv = pd.read_csv("sample_data.csv")
print("DataFrame from CSV:\n", df_csv, "\n")

DataFrame from CSV:
    ID     Name  Age  Salary Department
0   1    Alice   25   50000         HR
1   2      Bob   30   60000         IT
2   3  Charlie   35   70000    Finance
3   4    David   40   80000  Marketing
4   5      Eve   22   45000         HR

- <h3> Reading data from a JSON file

In [12]:
df_json = pd.read_json("sample_data.json")
print("DataFrame from JSON:\n", df_json, "\n")

DataFrame from JSON:
    ID     Name  Age  Salary Department
0   1    Alice   25   50000         HR
1   2      Bob   30   60000         IT
2   3  Charlie   35   70000    Finance
3   4    David   40   80000  Marketing
4   5      Eve   22   45000         HR

## Writing Data

- <h3> Writing DataFrame to a CSV file

In [13]:
df_csv.to_csv("output_data.csv", index=False)
print("Data written to output_data.csv\n")

Data written to output_data.csv

- <h3> Writing DataFrame to an Excel file

In [14]:
df_csv.to_excel("output_data.xlsx", index=False)
print("Data written to output_data.xlsx\n")

Data written to output_data.xlsx

## Representing Features of Data

In [15]:
# Overview of DataFrame features
print("DataFrame Info:\n", df_csv.info(), "\n")
print("DataFrame Description:\n", df_csv.describe(), "\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          5 non-null      int64
 1   Name        5 non-null      object
 2   Age         5 non-null      int64
 3   Salary      5 non-null      int64
 4   Department  5 non-null      object
dtypes: int64(3), object(2)
memory usage: 332.0+ bytes
DataFrame Info:
 None

DataFrame Description:
              ID        Age        Salary
count  5.000000   5.000000      5.000000
mean   3.000000  30.400000  61000.000000
std    1.581139   7.300685  14317.821063
min    1.000000  22.000000  45000.000000
25%    2.000000  25.000000  50000.000000
50%    3.000000  30.000000  60000.000000
75%    4.000000  35.000000  70000.000000
max    5.000000  40.000000  80000.000000

- <h3> Functionality of Series

In [16]:
print("Series Example (Age Column):\n", df_csv["Age"], "\n")

Series Example (Age Column):
 0    25
1    30
2    35
3    40
4    22
Name: Age, dtype: int64

- <h3> Functionality of DataFrame

In [17]:
print("First 3 Rows of DataFrame:\n", df_csv.head(3), "\n")
print("Column Names:\n", df_csv.columns, "\n")
print("Shape of DataFrame:\n", df_csv.shape, "\n")

First 3 Rows of DataFrame:
    ID     Name  Age  Salary Department
0   1    Alice   25   50000         HR
1   2      Bob   30   60000         IT
2   3  Charlie   35   70000    Finance

Column Names:
 Index(['ID', 'Name', 'Age', 'Salary', 'Department'], dtype='object')

Shape of DataFrame:
 (5, 5)