#Module 6 Demonstration

##Demonstration 3 - Selecting, Modifying, and Filtering Data

##Importing Libraries

In [1]:
import pandas as pd

## Sample DataFrame

In [11]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

##Selecting Data

- <h3> Selecting columns

In [3]:
column_a = df['A']
print("Selected column 'A':\n", column_a)

Selected column 'A':
 0    1
1    2
2    3
Name: A, dtype: int64

- <h3> Selecting rows

In [4]:
row_0 = df.iloc[0]
print("\nFirst row:\n", row_0)

row_condition = df[df['A'] > 1]
print("\nRows where 'A' > 1:\n", row_condition)

First row:
 A    1
B    4
Name: 0, dtype: int64

Rows where 'A' > 1:
    A  B
1  2  5
2  3  6

## Modifying Data

- <h3> Adding a new column

In [5]:
df['C'] = [7, 8, 9]
print("\nDataFrame after adding column 'C':\n", df)

DataFrame after adding column 'C':
    A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

- <h3> Removing a column

In [6]:
df = df.drop('C', axis=1)
print("\nDataFrame after removing column 'C':\n", df)

DataFrame after removing column 'C':
    A  B
0  1  4
1  2  5
2  3  6

- <h3> Removing a row

In [7]:
df = df.drop(0, axis=0)  # Remove row with index 0
print("\nDataFrame after removing row 0:\n", df)

DataFrame after removing row 0:
    A  B
1  2  5
2  3  6

- <h3> Updating a cell value

In [12]:
df.at[1, 'A'] = 10
print("\nDataFrame after updating cell (1, 'A'):\n", df)

DataFrame after updating cell (1, 'A'):
     A  B
0   1  4
1  10  5
2   3  6

## Filtering Data

- <h3> Filtering using a single value

In [13]:
filtered_df = df[df['A'] == 2]
print("\nRows where 'A' == 2:\n", filtered_df)

Rows where 'A' == 2:
 Empty DataFrame
Columns: [A, B]
Index: []

- <h3> Filtering using a list of values

In [10]:
values = [1, 2]
filtered_df_list = df[df['A'].isin(values)]
print("\nRows where 'A' is in [1, 2]:\n", filtered_df_list)

Rows where 'A' is in [1, 2]:
 Empty DataFrame
Columns: [A, B]
Index: []