#Module 6 Demonstration

##Demonstration 4 - Advanced Operations on DataFrames

##Importing Libraries

In [1]:
import pandas as pd
import numpy as np

## Sample DataFrames

In [2]:
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [4, 5], 'B': [7, 8]})

In [4]:
print(df1)
print(df2)

   A  B
0  1  4
1  2  5
2  3  6
   A  B
0  4  7
1  5  8

## Concatenation

- <h3> Concatenating rows

In [5]:
df_concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenating rows:\n", df_concat_rows)

Concatenating rows:
    A  B
0  1  4
1  2  5
2  3  6
0  4  7
1  5  8

- <h3> Concatenating columns

In [6]:
df_concat_cols = pd.concat([df1, df2], axis=1)
print("\nConcatenating columns:\n", df_concat_cols)

Concatenating columns:
    A  B    A    B
0  1  4  4.0  7.0
1  2  5  5.0  8.0
2  3  6  NaN  NaN

# 2. Merging and Joining DataFrames

In [7]:
# Merge operation
df_merge = pd.merge(df1, df2, on='A', how='inner')  # Merge based on column 'A'
print("\nMerge operation (Inner Join):\n", df_merge)

Merge operation (Inner Join):
 Empty DataFrame
Columns: [A, B_x, B_y]
Index: []

In [9]:
# Join operation (using index)
print(df1)
df3 = pd.DataFrame({'B': [10, 20]}, index=[3, 4])
print(df3)
df_join = df1.join(df3, on='A', how='left', lsuffix='_caller', rsuffix='_other')
print("\nJoin operation (Left Join):\n", df_join)

   A  B
0  1  4
1  2  5
2  3  6
    B
3  10
4  20

Join operation (Left Join):
    A  B_caller  B_other
0  1         4      NaN
1  2         5      NaN
2  3         6     10.0

# Types of joins:

- <h3> Left Join

In [11]:
print(df1)
print(df2)
df_left_join = pd.merge(df1, df2, on='A', how='left')
print("\nLeft Join:\n", df_left_join)

   A  B
0  1  4
1  2  5
2  3  6
   A  B
0  4  7
1  5  8

Left Join:
    A  B_x  B_y
0  1    4  NaN
1  2    5  NaN
2  3    6  NaN

- <h3> Right Join

In [34]:
df_right_join = pd.merge(df1, df2, on='A', how='right')
print("\nRight Join:\n", df_right_join)

Right Join:
    A  B_x  B_y
0  4  NaN    7
1  5  NaN    8

- <h3> Outer Join

In [35]:
df_outer_join = pd.merge(df1, df2, on='A', how='outer')
print("\nOuter Join:\n", df_outer_join)

Outer Join:
    A  B_x  B_y
0  1  4.0  NaN
1  2  5.0  NaN
2  3  6.0  NaN
3  4  NaN  7.0
4  5  NaN  8.0

- <h3> Inner Join

In [36]:
df_inner_join = pd.merge(df1, df2, on='A', how='inner')
print("\nInner Join:\n", df_inner_join)

Inner Join:
 Empty DataFrame
Columns: [A, B_x, B_y]
Index: []

- <h3> Self Join

In [37]:
df_self_join = pd.merge(df1, df1, on='A', how='inner', suffixes=('_left', '_right'))
print("\nSelf Join:\n", df_self_join)

Self Join:
    A  B_left  B_right
0  1       4        4
1  2       5        5
2  3       6        6

## Handling Missing Data

- <h3> dropna() - Remove rows with missing data

In [12]:
df_with_nan = pd.DataFrame({'A': [1, np.nan, 3], 'B': [4, 5, np.nan]})
print(df_with_nan)
df_dropna = df_with_nan.dropna()
print("\ndropna() - Dropped rows with NaN values:\n", df_dropna)

     A    B
0  1.0  4.0
1  NaN  5.0
2  3.0  NaN

dropna() - Dropped rows with NaN values:
      A    B
0  1.0  4.0

- <h3> fillna() - Fill missing data with a specific value

In [13]:
df_fillna = df_with_nan.fillna(0)
print("\nfillna() - Fill missing data with 0:\n", df_fillna)

fillna() - Fill missing data with 0:
      A    B
0  1.0  4.0
1  0.0  5.0
2  3.0  0.0

- <h3> isnull() - Check for missing data

In [14]:
df_isnull = df_with_nan.isnull()
print("\nisnull() - Check for missing data:\n", df_isnull)

isnull() - Check for missing data:
        A      B
0  False  False
1   True  False
2  False   True

- <h3> notnull() - Check for non-missing data

In [15]:
df_notnull = df_with_nan.notnull()
print("\nnotnull() - Check for non-missing data:\n", df_notnull)

notnull() - Check for non-missing data:
        A      B
0   True   True
1  False   True
2   True  False

## Handling Duplicate Data

- <h3> Removing duplicate rows

In [16]:
df_duplicates = pd.DataFrame({'A': [1, 2, 2, 3], 'B': [4, 5, 5, 6]})
print(df_duplicates)
df_remove_duplicates = df_duplicates.drop_duplicates()
print("\nRemoving duplicate rows:\n", df_remove_duplicates)

   A  B
0  1  4
1  2  5
2  2  5
3  3  6

Removing duplicate rows:
    A  B
0  1  4
1  2  5
3  3  6

- <h3> Deleting duplicate rows

In [17]:
print(df_duplicates.duplicated())
df_delete_duplicates = df_duplicates[df_duplicates.duplicated() == False]
print("\nDeleting duplicate rows:\n", df_delete_duplicates)

0    False
1    False
2     True
3    False
dtype: bool

Deleting duplicate rows:
    A  B
0  1  4
1  2  5
3  3  6

- <h3> Replacing duplicate values with a new value

In [18]:
print(df_duplicates)
df_replace_duplicates = df_duplicates.replace(2, 100)
print("\nReplacing duplicate values with 100:\n", df_replace_duplicates)

   A  B
0  1  4
1  2  5
2  2  5
3  3  6

Replacing duplicate values with 100:
      A  B
0    1  4
1  100  5
2  100  5
3    3  6

## Advanced Data Operations

- <h3> groupby() - Grouping data by a column

In [19]:
df_groupby = df_duplicates.groupby('A').sum()
print("\ngroupby() - Grouping by column 'A':\n", df_groupby)

groupby() - Grouping by column 'A':
     B
A
1   4
2  10
3   6

- <h3> pivot() - Creating a pivot table from the data

In [21]:
df_pivot = pd.DataFrame({
    'Date': ['2021-01-01', '2021-01-01', '2021-01-02'],
    'Category': ['A', 'B', 'A'],
    'Sales': [10, 20, 30]
})
print(df_pivot)
df_pivot_table = df_pivot.pivot(index='Date', columns='Category', values='Sales')
print("\npivot() - Pivot table with 'Date' as index:\n", df_pivot_table)

         Date Category  Sales
0  2021-01-01        A     10
1  2021-01-01        B     20
2  2021-01-02        A     30

pivot() - Pivot table with 'Date' as index:
 Category       A     B
Date
2021-01-01  10.0  20.0
2021-01-02  30.0   NaN

- <h3> pivot_table() - More flexible pivoting with aggregation

In [27]:
df_pivot1 = pd.DataFrame({
    'Date': ['2021-01-01', '2021-01-01','2021-01-01', '2021-01-02'],
    'Category': ['A', 'A' ,'B', 'A'],
    'Sales': [10, 50, 20, 30]
})
print(df_pivot1)
df_pivoted = df_pivot1.pivot_table(index='Date', columns='Category', values='Sales', aggfunc=np.sum)
print(df_pivoted)

         Date Category  Sales
0  2021-01-01        A     10
1  2021-01-01        A     50
2  2021-01-01        B     20
3  2021-01-02        A     30
Category       A     B
Date
2021-01-01  60.0  20.0
2021-01-02  30.0   NaN

C:\Users\dmkar\AppData\Local\Temp\ipykernel_19104\2281458243.py:7: FutureWarning: The provided callable <function sum at 0x000002622470F920> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df_pivoted = df_pivot1.pivot_table(index='Date', columns='Category', values='Sales', aggfunc=np.sum)

In [ ]:
df_pivot_table_agg = df_pivot.pivot_table(index='Date', columns='Category', values='Sales', aggfunc='sum')
print("\npivot_table() - Pivot table with aggregation:\n", df_pivot_table_agg)